* {
    box-sizing: border-box;
    


  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: cursive;
  }

  
  p {
    margin-right: 0;
    margin-top: 0;
    margin-left: auto;
    border: 1px solid black;
    background-color: #A52A2A;
    width: 25%;
    height: 25;
    text-align:  center;
    font-family: Helvetica;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h3 {
    margin-right: 0;
    margin-top: 0;
    margin-left: auto;
    border: 1px solid black;
    background-color: salmon;
    width: 25%;
    height: 25;
    text-align:  center;
    font-family: Helvetica;
    color: black;
  }


  #thirdHeading {
    margin-right: 0;
    margin-top: 0;
    margin-left: auto;
    border: 1px solid black;
    background-color: lightyellow;
    width: 25%;
    height: 25;
    text-align:  center;
    font-family: Helvetica;
    color: black;
  }



  #content{
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
      float: left;
      border: 2px solid black;
      background-color: lightgray;
      margin-left: 20px;


    }
    .col-lg-1 {
      width: 31%;
    }
    .col-lg-2 {
      width: 31%;
    }
    .col-lg-3 {
      width: 31%;
    }
    
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3 {
      float: left;
      border: 2px solid black;
      background-color: lightgray;
      margin-right: 8px;
      margin-top: 8px;

    }
    .col-md-1 {
      width: 48%;
      
    }
    .col-md-2 {
      width: 48%;
    }
    .col-md-3 {
        
      width: 97%;
    }

  }

    /********** Mobile devices only **********/
    @media (max-width: 767px) {
        .col-sm-1, .col-sm-2, .col-sm-3 {
          float: left;
          background-color: lightgray;
          border: 2px solid black;
          margin-top: 15px;
        }
        .col-sm-1 {
          width: 100%;
        }
        .col-sm-2 {
          width: 100%;
        }
        .col-sm-3 {
          width: 100%;
        }
    
      }